/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/components/projectDisplay/project.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
    font-family: "Pixelboy";
    src: url("/fonts/Pixeboy.ttf") format("truetype"); /* Ensure the path is correct */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraft';
    src: url('/fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraftbold';
    src: url('/fonts/minecraftbold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.project-wrapper {
    margin-top: 70px;
    margin-right: auto; /* Centers the container */
    margin-left: auto;  /* Centers the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 0 20px; /* Ensures it doesn't stretch to screen edges */
}


.card-container {
    display: flex;
    flex-direction: row; /* Aligns cards in a row */
    align-items: center; /* Ensures cards align properly */
    justify-content: center; /* Centers cards in the available space */
    flex-wrap: wrap; /* Allows wrapping if screen size is small */
    width: 100%;
    padding: 20px 0; /* Adds space above and below */
    margin-top: 60px;
    
}

.project-card {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'minecraftbold';
    font-size: 50px;
}

@media (max-width: 768px) { /* iPhones and smaller tablets */
    .card-container {
        flex-direction: column; /* Stack cards vertically */
    }

    .project-card {
        max-width: 90%; /* Use most of the screen width */
    }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/app/components/projectDisplay/projectCard/projcard.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.project-item {
    background-color: black; /* Black background */
    color: white; /* White text for contrast */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    width: 350px;
    text-align: center;
    margin: 20px auto; /* Center the card */
    
}

.project-item h4 {
    margin-bottom: 10px;
}

@media (max-width: 768px) { /* iPhones and smaller tablets */
    .card-container {
        flex-direction: column; /* Stack cards vertically */
    }

    .project-card {
        max-width: 90%; /* Use most of the screen width */
    }

    .project-item {
        width: 50%;
        height: auto;
    }
    .project-item img {
        width: 50%;
        height: auto;
    }
}
