@font-face {
    font-family: "Pixelboy";
    src: url("/fonts/Pixeboy.ttf") format("truetype"); /* Ensure the path is correct */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraft';
    src: url('/fonts/minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraftbold';
    src: url('/fonts/minecraftbold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.barber-title {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    font-family: 'minecraftbold';
    font-size: 50px;
    margin-bottom: 10px;

}

.calendly {
    background-color: rgb(255, 255, 255);
    display: flex;           /* Add this */
    justify-content: center;
    align-items: center;     /* This will now work with display: flex */
    text-align: center;
    margin-top: 50px;
    font-family: 'minecraft';
    font-size: 30px;
    border: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    font-family: "Pixelboy";
    position: relative; /* Add this to make it a positioning context */
    width: 700;
    height: 60vh
}

.calendly-inline-widget {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    border-radius: 5px;
    /* Optional: if you want to ensure it's clickable */
    z-index: 1;
}

@media (max-width: 1200px) {
    .barber-title {
    
        font-size: 1.5rem;
        margin-top: 180px;
        margin-bottom: 40px;
        color: white;
    }

    .calendly img{
        width: 300px;
        height: 300px;
    
    }

}