.project-item {
    background-color: black; /* Black background */
    color: white; /* White text for contrast */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
    width: 350px;
    text-align: center;
    margin: 20px auto; /* Center the card */
    
}

.project-item h4 {
    margin-bottom: 10px;
}

.project-item button {
    border: none;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
}

/* Create a smooth underline effect */
.project-item button::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/* Expand underline on hover */
.project-item button:hover::after {
    width: 100%;
    left: 0;
}
@media (max-width: 768px) { /* iPhones and smaller tablets */
    .card-container {
        flex-direction: column; /* Stack cards vertically */
    }

    .project-card {
        max-width: 90%; /* Use most of the screen width */
    }

    .project-item {
        width: 50%;
        height: auto;
    }
    .project-item img {
        width: 50%;
        height: auto;
    }
}