.project-item {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    margin: 20px auto;
}

.project-item h4 {
    margin-bottom: 10px;
    font-family: 'minecraftbold';
}

.image-container {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container img {
    transition: transform 0.3s ease;
    border-radius: 8px;
}

.image-container:hover img {
    transform: scale(1.05);
    cursor: pointer;
}

/* Add a subtle glow effect on hover */
.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
    border-radius: 8px;
}

.image-container:hover::after {
    background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 768px) {
    .project-item {
        width: 90%;
        height: auto;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
        max-width: 300px;
    }
}